<style>
.linkButtons {
  margin:5px 5px 5px 5px;
}
</style>

<div class="row"
 <div class="col-md-9">
   <div class="row">
     <div class="col-md-4 col-sm-5">
       <div class="thumbnail">
         {% if person.image %}
         <img itemprop="image" src="{{ person.image }}" alt="Photo of {{ person.name }}" width="100" />
         {% else %}
         <img src="{{ site.baseurl }}/images/person-210x210.jpg" alt="Person image placeholder" width="100">
         {% endif %}
       </div> <!-- /.thumbnail -->

       {% if person.birth_date %}
       Born:&nbsp;&nbsp;{{ person.birth_date | date_to_long_string }}
       {% endif %}

       {% if person.death_date %}
       Died:&nbsp;&nbsp;{{ person.death_date | date_to_long_string }}
       {% endif %}

       <br />

       <div class="list-group">
         {% for contact in person.contact_details %}
         {% if contact.type == 'email' or contact.type == 'twitter' %}{% continue %}{% endif %}
         <a href="javascript:;" class="list-group-item">
           <i class="icon-li fa fa-phone"></i>&nbsp;&nbsp;
           {{ contact.value }}
           {% endfor %}
         </a>

         {% if person.email %}
         <a href="mailto:{{ person.email }}" class="list-group-item"><i class="icon-li fa fa-envelope-o"></i>&nbsp;&nbsp; {{ person.email }}
           <i class="fa fa-chevron-right list-group-chevron"></i>
           {% endif %}
         </a>

       {% for link in person.links %}
         <a href="{{ link.url }}" class="list-group-item" target="_blank">
           <i class="fa fa-link"></i> &nbsp;&nbsp;{{ link.note }}


           <i class="fa fa-chevron-right list-group-chevron"></i>
           {% endfor %}
         </a>

       </div> <!-- /.list-group -->

     </div> <!-- /.col -->


     <div class="col-md-8 col-sm-7">
       <h2>{{ person.name }}</h2>

       <h4>{% if person.current_membership.post %}
       <a href="{{ person.current_membership.post.url | prepend: site.baseurl }}">{{ person.current_membership.post.label }}</a>{% if person.current_membership.area %} for {{ person.current_membership.area.name }}{% endif %}.
       {% elsif person.current_membership.area %}
       Current MP for {{ person.current_membership.area.name }}.
       {% endif %}</h4>
       <h4>{% if person.current_membership.party %}
       {{ person.current_membership.party.name }}.
       {% endif %}</h4>


       <hr />

         <ul id="myTab1" class="nav nav-tabs">
               <li class="active">
                 <a href="#appearances" data-toggle="tab">Appearances</a>
               </li>
               <li>
                 <a href="#committees" data-toggle="tab">Committees</a>
               </li>
               <li>
                 <a href="#attendance" data-toggle="tab">Attendance</a>
               </li>
               <li>
                 <a href="#bills" data-toggle="tab">Bills Sponsored</a>
               </li>
               <li>
                 <a href="#press" data-toggle="tab">Press</a>
               </li>

             </ul>

             <div id="myTab1Content" class="tab-content">
               <div class="tab-pane fade in active" id="appearances">
                 <p>Hansard appearances go here</p>
              </div>

               <div class="tab-pane fade" id="committees">
                 <p>Current and former committee memberships go here</p>
                </div>

               <div class="tab-pane fade" id="attendance">
                 <p>Record of committee attendance by topic goes here
              </div>

             <div class="tab-pane fade" id="bills">
               <p> Record of bills sponsored goes here
               </div>

             <div class="tab-pane fade" id="press">
               <p>blogs/pieces on MP from various reputable media houses go here
               </div>
            </div>

       <hr />

       <br />

{% include comments.html %}

     </div> <!-- /.col -->

   </div> <!-- /.row -->

 </div> <!-- /.col -->



</div> <!-- /.row -->
