---
layout: default
---

<h1>{{ page.name }}</h1>

{% if page.current_membership %}
<p>Current MP: <a href="{{ page.current_membership.person.url | prepend: site.baseurl }}">{{ page.current_membership.person.name }}</a> ({{ page.current_membership.party.name }})</p>
{% else %}
<p>No known current MP.</p>
{% endif %}

{% comment %}TODO: Check which direction this sorts in{% endcomment %}
{% assign historic_memberships = page.historic_memberships | sort: 'end_date' %}

<h3>Former MPs</h3>
<div class="historic-mps">
  {% for membership in historic_memberships %}
  <p>
    {{ membership.legislative_period.name }}
    <a href="{{ membership.person.url | prepend: site.baseurl }}">{{ membership.person.name }}</a>
    ({{ membership.party.name }})
    {{ membership.start_date }} {% if membership.start_date or membership.end_date %}-{% endif %} {{ membership.end_date }}
  </p>
  {% else %}
  <p>No known former MPs.</p>
  {% endfor %}
</div>
