---
layout: default
---

{% assign organization = page %}

<div class="page-header">
  <h2>
    {{ organization.name }}
    {% if organization.classification == 'party' %}
    <small>Political Party</small>
    {% endif %}
  </h2>
</div>

<div class="profile-pic">
  {% if organization.image %}
    <img src="{{ organization.image }}" alt="{{ organization.name }}"/>
  {% endif %}
</div>

<div class="profile-info">
  <div class="sidebar">
    {% include social.html %}
  </div>
</div>


<div class="large-container profile-bulk">
  {% assign politicians = organization.memberships | group_by: "person_id" %}

  <h3>Politicians Representing {{ organization.name }}</h3>

  <ul class="media-list">
    {% for politician in politicians %}
      {% assign membership = politician.items | first %}
      {% include membership_item.html %}
    {% endfor %}
  </ul>

</div>
